.page-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #f7f8f9;
}

.body-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 120px;
    min-height: calc(100vh - 80px);
    padding: 0 15px;
    position: relative;
    transition: .5s;
}