
.cardOrdenCompra {
    width: 900px;
    margin: 20px auto;
    left: -255px;
    padding: 20px;

}
.body-ordenConpra{
    display: flex;
}

.adjuntos{
    width:500px;
    margin: 20px auto;
    left: 555px;
    bottom: 550px;
    padding: 20px;
}