.cardSolicitante{
    left: 15.5rem;
}

/* .botonInsertarRequisitor {
  width: 12rem;
  top: 0;
  left: 75rem;
  margin: 1rem;
} */
td button{
  width: revert-layer !important;
  border-radius: 50% !important;
  margin: 5px;
}

button .p-button-icon{
  margin: 0px !important;
}