@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



/* Declaracion de variables para tipos de letra y colores */
:root {
    /* palette */
    --c-primary-color: #0061C6;
    --c-secondary-color: green;
    --c-dark-blue: #07143E; 
    --c-light-purple: #1F2F64;
    --c-light-grey: #656363;
    --c-orange: #F77619;
    --c-grey-icon: #CFD5DD;
    --c-avatar-color: #52B9E41A;
    --c-avatar-hover: #52B9E4;
  
  
    /* font family */
    /* tablinks y titulos  */
    --c-font-montserrat: 'Montserrat';
    /* sitio en general */
    --c-font-rubik: 'Rubik';
/* 
    --theme-default: #7366ff; */
    --danger-color: #fc4438;
    --info-color: #16c7f9;
    --success-color: #22c55e;
    --secondary-color: #f73164;

    --theme-default: #204e5a;
    --theme-secondary: #854253;
}

.c-font-rubik {
    font-family: var(--c-font-rubik);
  }
.c-font-montserrat {
    font-family: var(--c-font-montserrat);
  }
  
 /* Definicion de clases que se utilizaran en todo el proyecto  */
.container-base{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
    font-size: 14px;
}

body{
    margin: 0px;
}
.p-component{
    font-family: var(--c-font-rubik);
}

.p-card  {
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px 20px rgba(46,35,94,.07);
    letter-spacing: .5px;
    margin-bottom: 30px;
}
.card-header{
    width: 100%;
}
.card-header .p-card-body{
    padding: 8px 18px;
}
.card-header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gorup-search{
    display: flex;
}
.p-field{
    margin-left: 10px;
    margin-bottom: 10px;
    flex-grow: 4;
}
.upload-file{
    margin-left: 20px;
}
.p-dropdown.p-component.p-inputwrapper,
.p-inputtext.p-component{
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
    outline-color: transparent;
}
.p-inputtext.p-component:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a5f3fc;
    border-color: #06b6d4;
}
.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a5f3fc;
    border-color: #06b6d4;
  }

.p-dropdown-label{
    padding: 0px;
}
.p-button{
    border-radius: 7px;
}

.p-button-primary{
    background-color: var(--theme-default) !important;
    border-color: var(--theme-default) !important;
    padding: .375rem 1.75rem;
    margin-right: 5px;
}

.p-button-danger{
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color) !important;
}
.p-button-outlined.p-button-danger{
    background-color: transparent !important;
    color: var(--danger-color) !important;
    border: 1px solid var(--danger-color) !important;
}
.p-button-info{
    background-color: var(--info-color) !important;
    border-color: var(--info-color) !important;
}

.p-button-outlined.p-button-info{
    background-color: transparent !important;
    color: #0288d1 !important;
    border: 1px solid #0288d1 !important;
    border-radius: 5px !important;
}
.p-button-success{
    background-color: var(--success-color) !important;
    border-color: var(--success-color) !important;
}

.p-button-secondary{
    background-color: var(--theme-secondary) !important;
    border-color: var(--theme-secondary) !important;
    padding: .375rem 1.75rem;
    margin-right: 5px;
}

.p-dialog-footer button,
.p-dialog-content button{
   width: 30%;
}

.button-conteiner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.p-dialog-footer .row,
.p-dialog-content .row{
    justify-content: flex-end;
}

.p-card-title{
    margin: 0px;
}

.p-inputtext {
    font-family: var(--c-font-rubik);
}

.text-input{
    flex-grow: 2;
}

.body-ordenCompra {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardNuevaCompra{
    width: 70%;
}
.body-right{
    display: flex;
    width: 28%;
    flex-direction: column;
}
.p-col-field-right{
    flex-grow: 4;
}

.p-col-field{
    flex-grow: 1;
}
.field-name{
    font-weight: 500;
}
.p-col .p-avatar{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.p-grid.p-nogutter{
    margin-bottom: 20px;
}

.p-fileupload.p-fileupload-advanced{
    display: flex;
}

.p-fileupload-content{
    width: 100%;
    padding: 1rem 0.5rem;
}
.field-upload-container{
    width: 66.66%;
    padding-top: 17px;
    padding-left: 1%;
}

/* .p-fileupload-content div{
    display: flex;
} */
.p-fileupload-row img{
    display: none;
}
.p-fileupload .p-fileupload-row > div {
padding: 8px;
}
.p-fileupload-content > div{
    display: flex;
}
.p-fileupload-row button{
    width: auto;
    background-color: unset !important;
    border-color: white !important;;
}
.p-fileupload-row > div:last-child {
    text-align: left;
}
.upload-field-detail .p-fileupload-choose{
    margin-left: 10px;
    background-color: var(--theme-default) !important;
    border: var(--theme-default) !important;
    color: white;
    width: auto;
    padding: 0.5rem 1rem;
    display: inline-flex;
}
.align-right{
    justify-content: flex-end;
    margin-bottom: 15px;
}
.note-list{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.p-fileupload-file-badge.p-badge.p-component.p-badge-success{
    display: none;
}
.p-fileupload-row > [data-pc-section*=details]{
    width: 85%;
}
.p-fileupload-row > [data-pc-section*=actions]{
    width: 15%;
}
.global-filter{
    display: flex;
    justify-content: end;
}
.global-filter .p-inputtext {
    padding-left: 30px;
}